<div class="card text-center">
  <div class="card-header">
    <ng-content select="[header]"></ng-content>
  </div>
  <div class="card-block">
    <h4 class="card-title">Title</h4>
    <div class="ngm-card-body">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>