<div class="row">
  <div *ngFor="let card of configs" class="col-sm-3">
    <ngm-card>
      <div header>{{card.header}}</div>
      <div [ngTemplateOutlet]="card.bodyTemplate" [ngTemplateOutletContext]="context"></div>
    </ngm-card>
  </div>
</div>
