<ngm-card-grid>
    <ngm-card-config title="hi" header="I'm a header" footer="I'm a footer">
        <ng-template ngmTemplate="body" let-model let-another="anotherVar">
            <div>
                {{model.text}}
            </div>
            {{another}}
            <div>{{data.text}}</div>
        </ng-template>
    </ngm-card-config>
    <ngm-card-config title="hi" header="Me too" footer="I'm a footer"></ngm-card-config>
    <ngm-card-config title="hi" header="Me three" footer="I'm a footer"></ngm-card-config>
</ngm-card-grid>